body {
    font: 14px "Century Gothic", Futura, sans-serif;
}
div.flashcard-container{
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-top: 25px;
    padding: 10px;
    border: grey 1px solid
}
div.flashcard{
    width: 95%;
    height: 350px;
    box-shadow: 1px 1px 1px 1px #5f5f5f;
    margin: 10px;
    text-align: center;
    font-size: 80px; 
}
span.flash-stack-nav{
    display: inline-flex;
    width: 800px;
    margin: 0 auto;
}
img.l-arrow-nav{
    width: 20px;
    height: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 0 auto;
}
img.r-arrow-nav{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
span.day-number{
    padding-right: 10px;
}
input.submit-button{
    margin: 0 10px;
}